
/* Your CSS Code here. */
body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content:center;
	align-items:center;
	height: 100vh;
	margin: 0;
}

input {
	padding: 10px;
	font-size: 16px;
}
h3 {
	margin-top: 10px;
	font-size: 18px;
}
